#nav {
    display: flex; 
    padding-top: 20px;
    padding-bottom: 1px;
    justify-content: space-evenly;
}


#map {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0;
    height: 100%;
    width: auto;

    transition: left 1s;
    transition: right 1s;
    /* transition: width 1s; */
}

.menu {
    position: absolute;
    width: 408px;
    height: 100%;
    background: linear-gradient(to bottom, rgb(122,0,0) 0px,rgb(122,0,0) 295px, 200px,white 200px,white 100%);
    left: 0px;
    top: 0;
    transition: left 1s;
    z-index: 99;

    /*border: 2px solid black;*/
}

.menubtn {
    border-color:rgb(235,232,224) !important;
    color:  rgb(122,0,0) !important;
    border: 0px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    height: 48px;
    width: 23px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    overflow: hidden;
    top: 5px;
    left: 385px;
    transition: left 1s;
    background-color: rgb(235,232,224) !important;
    border-color:rgb(235,232,224) !important;
    z-index: 99;
    outline:0 !important;
}



.btn-success {
  background-color: rgb(122,0,0) !important;
  color: white !important;
  border-color:rgb(122,0,0) !important;
  border-radius: 22px  !important;
  width: 45px;
  height: 45px;
  text-align: center !important
}

.btn-success:focus {
  background-color: rgb(235,232,224) !important;
  border-color:rgb(235,232,224) !important;
  color:  rgb(122,0,0)  !important;
  text-align: center !important;
  outline:0 !important;
}

.currentLocation {
    width: 98% !important;
    padding: 12px 20px;
    margin: 8px 4%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px;
    border-color: white;
}

.destination{
    width: 98% !important;
    padding: 12px 20px;
    margin: 8px 4%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    border: 2px;
    border-color: white;
}

.options {
    width: 100%;
    text-align:left;
    overflow: auto;
    /* border: 2px solid yellow; */
}

.directions {
    width: 373px;
    height: 499px;
    background-color: white;
    border: 2px solid black;
    position: relative;
    left: 15px;
    overflow: auto;
}

#birthdaytime{
    width: 85.5% !important;
    padding: 12px 20px;
    margin: 0px 3.5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    border: 2px;
    border-color: white;
}

label{
    color: white;
}

.pretty{
    font-size: 23px;
    
    top: 3px;
}

.directions{
    text-align: center;
}

.Directions{
    position: absolute;
    right: 45px;
    top: 58px;
    padding: 21px 21px 19px 21px;
    border-radius: 4px;
    color: grey;
    background-color: white;
    box-shadow: none;
    border: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.Directions2{
    position: absolute;
    right: 45px;
    top: 114px;
    padding: 21px 21px 19px 21px;
    border-radius: 4px;
    color: grey;
    background-color: white;
    box-shadow: none;
    border: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}



input.larger{
    width: 22px;
    height: 22px;
    position: relative;
    left: 12px;
}

input {
    outline:0 !important;
}


#search1 {
    visibility: visible; 
    top: 74px;
    padding-bottom: 23px;
}

#search2{
    visibility: hidden; 
    top: 134px;
    padding-bottom: 23px;
}

#directions{
    font-size: 30px; 
    color: rgb(122, 0, 0);
    position: absolute; 
    right: 5px; 
    top: 5px;
}

#VeoOption{
    visibility: hidden;
    left: 25px;
    padding-top:6px;
    margin: 55px 0px 10px 0px;
}



#container {
    margin: auto;
    height: 130px;
    /*background-color: #ffcc33;*/

}
#first {
    width: 87%;
    float: left;
    height: 130px;
    /*background-color: blue;*/
}
#second {
    width:13%;
    float: right;
    height: 130px;
    text-align: center;
    padding-top: 50px;
    
    /*background-color: green;*/
}