#nav {
    display: flex; 
    padding-top: 20px;
    padding-bottom: 5px;
    justify-content: space-evenly;
    position: fixed;
    top: -5px;
    width: 403px;
    background-color: rgb(122,0,0);
    z-index: 99;
    width: 408px;
}


#map {
    position: absolute;
    top: 0px;
    left: 408px;
    bottom: 0px;
    right: 0;
    height: 100%;
    width: auto;

    transition: left 1s;
    transition: right 1s;
     transition: width 1s; 
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    position: absolute;
    width: 408px;
    height: 100%;
    /*background: linear-gradient(to bottom, rgb(122,0,0) 0px,rgb(122,0,0) 295px, 200px,white 200px,white 100%);*/
    left: 0px;
    top: 0;
    transition: left 1s;
    z-index: 95;
    scroll-behavior: smooth;
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;

    /*border: 2px solid black;*/
}

.menubtn {
    border-color:rgb(235,232,224) !important;
    color:  rgb(122,0,0) !important;
    border: 0px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    height: 48px;
    width: 23px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    overflow: hidden;
    top: 5px;
    left: 385px;
    transition: left 1s;
    transition: right 1s;
    background-color: rgb(235,232,224) !important;
    border-color:rgb(235,232,224) !important;
    z-index: 95;
    outline:0 !important;
    
}



.btn-success {
  background-color: rgb(122,0,0) !important;
  color: white !important;
  border-color:rgb(122,0,0) !important;
  border-radius: 22px  !important;
  width: 45px;
  height: 45px;
  text-align: center !important;
  transition: left 1s;
    transition: right 1s;
}

.btn-success:focus {
  background-color: rgb(235,232,224) !important;
  border-color:rgb(235,232,224) !important;
  color:  rgb(122,0,0)  !important;
  text-align: center !important;
  outline:0 !important;
  transition: left 1s;
    transition: right 1s;
}

.currentLocation {
    width: 98% !important;
    padding: 12px 20px;
    margin: 8px 4%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px;
    border-color: white;
}

.destination{
    width: 98% !important;
    padding: 12px 20px;
    margin: 8px 4%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    border: 2px;
    border-color: white;
}

.options {
    width: 100%;
    text-align:left;
    overflow: auto;
    overflow-x: hidden;
    height: 295px;
    overflow-y: hidden;
    background: rgb(122,0,0);
    /* border: 2px solid yellow; */
}



.directions {
    width: auto;
    height: 424px;
    background-color: white;
    position: relative;
    display: block;
    text-align: center;
    
}

#birthdaytime{
    width: 85.5% !important;
    padding: 12px 20px;
    margin: 0px 3.5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    border: 2px;
    border-color: white;
    position: relative;
    top: 191px;
}

label{
    color: white;
}

.pretty{
    font-size: 23px;
    
    top: 3px;
}

.Directions{
    position: absolute;
    right: 45px;
    top: 58px;
    padding: 21px 21px 19px 21px;
    border-radius: 4px;
    color: grey;
    background-color: white;
    box-shadow: none;
    border: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.Directions2{
    position: absolute;
    right: 45px;
    top: 114px;
    padding: 21px 21px 19px 21px;
    border-radius: 4px;
    color: grey;
    background-color: white;
    box-shadow: none;
    border: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.flip{
    padding:0px;
    margin: 0px 0px 0px 5px;
     background-color: rgb(122,0,0); /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



input.larger{
    width: 22px;
    height: 22px;
    position: relative;
    left: 12px;
}

input {
    outline:0 !important;
}


#search1 {
    visibility: visible; 
    top: 8px;
    padding-bottom: 23px;
}

#search2{
    visibility: hidden; 
    top: 68px;
    padding-bottom: 23px;
}

#directions{
    font-size: 30px; 
    color: rgb(122, 0, 0);
    position: absolute; 
    right: 5px; 
    top: 5px;
}

#VeoOption{
    visibility: hidden;
    left: 25px;
    padding-top:6px;
    margin: 55px 0px 10px 0px;
    top: 144px;
}



#container {
    margin: auto;
    height: 122px;
    position: fixed;
    top: 64px;
    width: 408px;
    z-index: 99;
    background: rgb(122,0,0);
    /*background-color: #ffcc33;*/

}
#first {
    width: 87%;
    float: left;
    height: 122px;
    /*background-color: blue;*/
}
#second {
    float: right;
    height: 130px;
    text-align: center;
    padding-top: 50px;
    position: absolute;
    left: 357px;
    top: 65px;
    position: fixed;
    left: 365px;
    top: 77px;
    z-index: 99;
    /*background-color: green;*/
}

.time{
    position: absolute;
    font-weight: 500;
    left: 19px;
    top: 12px;
    font-size: 13px;
    
}

.tab{
    width: 100%;
    height: 140px;
    font-family: Roboto, Arial, sans-serif;;
    font-size: 13px;
    position: relative;
    color: #333333;
    left: 0px;
    top: 0px;
    display: block;
    transition: height 1s;
    outline:none;
}

.dot{
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid black;
    left: 91px;
    top: 27px;
    position: absolute;
}

.start{
    position: absolute;
    font-size: 16px;
    left: 120px;
    top: 10px;
    border-bottom: 1px solid #d4d4d4;
}

.visualLine{
    position: absolute;
    border-left: 6px dotted #003C71;
    height: 121px;
    left: 95px;
    top: 48px;
    transition: height 1s;
}

.city{
    font-size: 13px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.54);
    position: absolute;
    left: 121px;
    top: 30px;
}

.mode{
    font-size: 16px;
    position: relative;
    top: 77px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87);
    padding-bottom: 36px;
    padding-right: 232px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 0px;
    margin-top: 16px;
}

.details:focus {
  outline: none;
}

.details{
    position: absolute;
    padding: 0;
    border: none;
    background: none; 
    left: 121px;
    width: auto; 
    height: 71px; 
    padding-bottom: 0px;
    
}
.estimate{
    position: absolute;
    color: black;
    top: 112px;
    left: 20px;
}
.steps{
    position: relative;
    height: 0px;
    width: 264px;
    left: 120px;
    top: 146px;
    text-align: left;
    visibility: visible;
    overflow: hidden;
    display: block;
    transition: height 1s;
}

.step{
    padding-top: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid #d4d4d4;
    
}

.stop {
    position: absolute;
    border-radius: 9px;
    background: #7a0000;
    padding: 7px;
    width: -1px;
    height: 36px;
    top: 36px;
    color: white;
    left: 79px;
    font-size: 20px;
    font-weight: 1000;
}

#busIcon{
    position: absolute;
    background: white;
    z-index: 96;
    font-size: 13px;
    top: 26px;
    left: 3px;
}

#busVisualMarker{
    position: absolute;
    z-index: 95;
    font-size: 56px;
    transform: rotate(245deg);
}

#busVisual{
    position: absolute;
    top: 16px;
    left: 61px;
}

#backToTop{
    
    border-color: rgb(235,232,224) !important;
    color: rgb(122,0,0) !important;
    border: 0px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    height: 36px;
    width: 36px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    overflow: hidden;
    transition: left 1s;
    transition: right 1s;
    background-color: rgb(235,232,224) !important;
    border-color: rgb(235,232,224) !important;
    z-index: 95;
    outline: 0 !important;
    left: 359px;
    bottom: 11px;
    z-index: 99;
    
    visibility: hidden;
}