!!!
%html{:land => "en-us"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Simple UI
    %meta{:content => "initial-scale=1.0", :name => "viewport"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %meta{:charset => "UTF-8"}/
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDutuTXuuUC-5ywb9P6j4OOs7u_sliwfwM&libraries=places&callback=initMap"}
      :cdata
    %link{:href => "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css", :rel => "stylesheet"}/

    %div{:onload => "busButton()"}

  %body
    %template
      %span#tab.tab
        %h2#time.time 12:26 PM
        %span#dot.dot
        %h1#start.start
          Golden Gate Bridge
        #visualLine.visualLine{:style => "border-left: 6px dotted #003C71;"}
        %h2#city.city San Francisco, CA
        %button#details.details{:onclick => "showDetails(0);"}
          %h3#mode.mode Walk
          %i.fa.fa-caret-down{:style => "position:relative;font-size:24px;left:-126px;top:22px;margin-top: 16px;"}
          %p#estimate.estimate{:for => ""} About 26 min, 1.3 mi
        #steps.steps
    #menu.menu
      
        

      .options
        %nav#nav{:style =>""}
          %button#bus.btn.btn-success{:onclick => "busButton()"}
            %i.fa.fa-bus.fa-lg
          %button#bike.btn.btn-success{:onclick => "bikeButton()"}
            %i.fa.fa-bicycle.fa-lg
          %button#walk.btn.btn-success{:onclick => "walkButton()"}
            %i.fa.fa-blind.fa-lg
          %button#car.btn.btn-success{:onclick => "carButton()"}
            %i.fa.fa-car.fa-lg
          %button#wheelchair.btn.btn-success{:onclick => "wheelchairButton()"}
            %i.fa.fa-wheelchair-alt.fa-lg

      #container
        #first
          %input#currentLocation.currentLocation{:placeholder => "Enter an origin location", :type => "text", :onclick => "firstbox()"}/
          %input#destination.destination{:placeholder => "Enter a destination location", :type => "text", :onclick => "secondbox()"}/
          %button#search1.Directions{:onclick => "Directions()"}
            %i.material-icons#directions directions
          %button#search2.Directions2{:onclick => "Directions()"}
            %i.material-icons#directions directions
        #second
          %button.flip{:onclick => "Flip()"}
            %img{:height => "30", :style => "cursor: pointer;" , :src => "http://dw4ygg83x3mfl.cloudfront.net/swap.png", :width => "auto"}/
        
        %input#birthdaytime{:name => "birthdaytime", :type => "datetime-local"}/

      #VeoOption.checkbox
        %input#VeoRide.larger{:name => "VeoRide", :type => "checkbox", :value => "Bike", :width => "100px"}/
        %label{:for => "VeoRide"}
          %img{:height => "30", :src => "http://dw4ygg83x3mfl.cloudfront.net/VeoRide_Logo.png", :width => "auto"}/
      #output.directions
      

    %button#menubtn.menubtn{:onclick => "closeMenu()"}
      %i.fa.fa-caret-left{:style => "font-size:24px"}
    #map
